// Hovered or Active
.playlist li{
  @include transition( .2s );

  progress{
    background-color: $grey-light;
  }
}

.playlist li.is-active{
  background-color: $grey-light;

  progress{
    background-color: $pink;
  }
}