.trigger-audio{
  top: 0;
  bottom: 0;
  right: 50px;
  position: absolute;
  z-index: 900;

  margin: auto;

  background: transparent;
  border-radius: 100%;
  cursor: pointer;

  .trigger-inner{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;

    width: 42px;
    height: 42px;
    margin: auto;

    background: $white;
    border-radius: 100%;
  }

  &.play i,
  &.pause i{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
  }

  &.play i{
    left: 4px;

    width: 0;
    height: 0;
    margin: auto;

    border-top: 8px solid transparent;
    border-left: 15px solid $grey;
    border-bottom: 8px solid transparent;
  }

  &.pause i{
    width: 16px;
    height: 20px;

    background: transparent;
    border-left: 5px solid $grey;
    border-right: 5px solid $grey;
  }
}
