.button{
  @include transition( .3s );
  
  height: 40px;
  padding: 0 30px;
  display: inline-block;

  border: thin solid $pink;
  border-radius: 3px;

  color: $pink;
  line-height: 40px;
  text-decoration: none;

  &:hover,
  &:focus{
    background-color: $pink-transparent;
  }
}
