.button{
  height: 40px;
  padding: 0 30px;
  display: inline-block;

  background-color: $pink;
  border-radius: 22px;

  color: $white;
  line-height: 40px;
  text-decoration: none;

  &:hover,
  &:focus{
    color: $white;
    background-color: $pink-dark;
  }
}
