aside,
main{
  height: auto;
  min-height: 100%;
}

aside{
  top: 0;
  position: fixed;
  float: left;

  width: 40%;
  height: 100vh;
}

main{
  float: right;

  width: 60%;

  background-color: $grey-lighter;
}

@media #{$medium-down}{
  aside,
  main{
    width: 100%;
    min-height: 0;
  }

  aside{
    position: relative;

    width: 100%;
    height: 60%;
  }
}
