body.mobile{
  overflow: hidden;

  main{
    overflow: scroll;
    height: 100% !important;

    nav{
      position: relative;

      width: 100%;
    }

    section{
      min-height: 0;
      margin: 100px 0;
    }

    section:last-child{
      margin: 100px 0 0;
    }
  }
}