body.mobile{
  aside{
    height: 100%;
    overflow: hidden;
  }

  main{
    nav{
      // position: relative;
      //
      // width: 100%;
    }

    section{
      min-height: 0;
      margin: 100px 0;
    }

    section:last-child{
      margin: 100px 0 0;
    }
  }
}