section{
  @include flex;

  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  background-color: $white;

  .section-header,
  .section-body{
    width: 100%;
    clear: both;
  }

  .section-header{
    margin-bottom: $section-spacing / 2;
  }

  .section-body{
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
  }
}

.section-header{
  max-width: 500px;

  h2{
    margin-bottom: $section-spacing / 4;
  }
}
