section.text{
  text-align: left;

  .section-body{
    max-width: 450px;
    margin: auto 0;

    > h2,
    > p,
    > ul{
      margin-bottom: 1em;
    }

    h2{
      margin-bottom: 50px;

      &:after{
        content: '';

        bottom: -15px;
        left: 0;
        position: absolute;

        width: 25px;
        height: 1px;

        background-color: $grey;
      }
    }

    p span{
      text-decoration: none !important;
      border-bottom: thin dotted $black;
    }

    .button{
      margin-top: 1em;
    }

    ul{
      list-style-type: circle;
      list-style-position: inside;
    }
  }
}
